.container{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    width: 35px;
    padding: 8px;
    background-color: aliceblue;
    border-radius: 50%;
}

.toggle-btn{
    width: 75px;
    height: 25px;
    border: none;
    border-radius: 10px;
    background: black;
    color: white;
}

.toggle-btn:hover{
    width: 80px;
    background: white;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}

.weather-input input{
 outline: none;
 border: none;
 border-radius: 40px;
 padding-left: 10px;
 font-size: 12px;
 height: 40px;
 background-color: aliceblue;
}

.weather-input{
    display: flex;
    align-items: center;
    gap: 5px;
}

.weather{
    width: 100px;
    margin: 10px 0px;
    background-color: rgb(197, 149, 243);
    border-radius: 10px;
}
.temperature{
    font-size: 30px;
    font-weight: bold;
}

.location{
    font-size: 20px;
    font-weight: bold;
}

.data-icon{
    width: 45px;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: aliceblue;
}

.col p,span{
    font-size: 15px;
    font-weight: bold;
}


.weather-data{
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col{
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
}

.col .data-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-data img{
    background-color: rgb(197, 149, 243);
}

h1{
    place-self: center;
      font-family: 'Poppins', sans-serif;
}

.wind{
    width: 38px;
}
.climate{
     font-size: 20px;
     font-weight: bold;
     padding-bottom: 10px;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error p,span{
    font-size: 20px;
}

.error p{
    color: red;
}

.col-span{
    font-size: 15px;
}